#image2{
	width: 100%;
}
#box{
	position: absolute;
    width: 1200px;
    height: 388px;
    left: 61px;
    top: 368px;
    background: #F5F1DA;
}

#box2{
	
	
position: absolute;
width: 590px;
height: 124px;
left: 671px;
top: 368px;

background: #2D4059;
}
#student_title{
position: absolute;
width: 417px;
height: 200px;
text-align: center;
left: 95px;
top :30px;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 64px;
line-height: 75px;
color: #AF6B58;
text-decoration: none;

}
#box5{

	background-color: #efbbff;
	width: 100%;
	height: 50px;
}
.title2{
	position: absolute;
	letter-spacing: 3px;
	font-size: 30px;
	margin-left: 20px;
	line-height: 48px;
	padding-bottom: 20px;
	color:#343f4d;
	text-decoration: none;
}

#teacher_title{
	position: absolute;
width: 493px;
height: 82px;
left: 40px;

top: 30px;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #000000;
text-decoration: none;

}
#input_exam_form{
	position: absolute;
    width: 681px;
height: 50px;
left: 480px;
top: 160px;

background: #FFFFFF;
}
#exam_code_title{
	position: absolute;
width: 277px;
height: 64px;
left: 89px;
top: 150px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
}
#input_id_form{
		position: absolute;
    width: 681px;
height: 50px;
left: 480px;
top: 240px;

background: #FFFFFF;


}
#student_id_title{
	position: absolute;
width: 277px;
height: 64px;
left: 89px;
top: 230px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;

}
#join{
	position: absolute;
width: 200px;
height: 38px;
left: 707px;
top: 320px;

font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;



}